<div class='header-wrapper'>
    <div class='header'>
        <a class='header-brand' href='/'>
            <img src='/static/logo.svg' />
            <h1>FriByte CTF</h1>
        </a>
        <div class='header-links'>
            <a href='/leaderboard'><span>Flagg</span></a>
            <a href='/leaderboard'><span>Poeng</span></a>
            <a href='/leaderboard'><span>Leaderboard</span></a>
            <a href='/leaderboard'><span>Logg ut</span></a>
        </div>
    </div>
</div>