{{>header selected=selected}}

<div class="container ctf-container">
    <div class="category-wrapper">
        <div class="category-container">
            <h3>Kategorier</h3>
            <ul>
                {{#each categories}}
                <li{{#if this.selected}} class="selected"{{/if}}><a href="/ctf/category/{{this.name}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="details-container">
        {{#if success}}
        <div class="message success">
            <p>{{success}}</p>
        </div>
        {{/if}}
        {{#if error}}
        <div class="message error">
            <p>{{error}}</p>
        </div>
        {{/if}}
        {{#if tasks}}
            {{#each tasks}}
            {{>task task=.}}
            {{/each}}
        {{/if}}
        {{#unless tasks}}
            <div class="card info-card">
                <h2>CTF</h2>
                <p>For å komme i gang, velg en kategori til venstre.</p>
                <p>Laget ditt får poeng for hvert flagg, vanskelighetsgraden er høyere jo høyere poeng oppgaven gir.</p>
                <p>Svaret skal alltid være i formatet <code>fri_flag{&lt;svar&gt;}</code></p>
            </div>
        {{/unless}}
    </div>
</div>
