<div class="container landing">
    <img class="logo" src="/static/logo.svg" />
    <div class="landing-content">
        <h1 class="heading">FriByte CTF</h1>
        <h3 class="sub-heading">Velkommen til FriByte sin CTF challenge!</h3>
    </div>
</div>
