<div class="container landing-container">
    <div class="landing">
        <img class="logo" src="/static/logo.svg" />
        <div class="landing-content">
            <h1 class="heading">FriByte CTF</h1>
            <h2 class="sub-heading">Velkommen til FriByte sin CTF challenge!</h3>
        </div>
    </div>
    <div class="login-section">
        <form action="/auth/login" method="post">
            <label>
                <h3>Team kode</h3>
                <input type="text" name="code" placeholder="KODE" required maxlength="5" minlength="5">
            </label>
        </form>
    </div>
    <div class="landing-info">
        <p>Du får utdelt en kode av noen som ditt lag bruker til å logge inn.</p>
    </div>
</div>
