@import url('/static/css/global.css');

/*********/
/* ADMIN */
/*********/

header {
    padding: 1rem 0;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
header a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 5px solid var(--primary-color);
}

.admin-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: white;
    padding: 0.5rem 0.75rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 700;
    opacity: 1;
    cursor: pointer;
}

.btn.secondary {
    background-color: transparent;
    color: white;
    border-color: white;
}

.btn:hover {
    opacity: 0.75;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.add-tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-tasks textarea {
    max-width: 100%;
    width: 100%;
    height: 15rem;
}

details h3 {
    display: inline;
    margin: 0;
}
details article {
    margin-left: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flag {
    background-color: #333;
}
.flag input {
    display: none;
}

.flag:hover {
    background-color: unset;
}
.flag:hover input {
    display: inline;
}

.desc textarea {
    display: block;
    width: 100%;
    height: 15rem;
}
