@import url('/static/css/global.css');

/*********/
/* ADMIN */
/*********/
.admin-content {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: white;
    padding: 10px;
    color: black;

    cursor: pointer;
}

.flag {
    background-color: #333;
}
.flag input {
    display: none;
}

.flag:hover {
    background-color: unset;
}
.flag:hover input {
    display: block;
}

.slett-btn {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    margin: 5px;
    display: block;
}
