/**********/
/* GLOBAL */
/**********/

:root {
    --content-width: 1500px;
}

body {
    margin: 0;
    background-color: #2e2e40;
    color: #f2f2f2;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
a:visited {
    color: maroon;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
table,
th,
td {
    padding: 8px;
    border: 2px solid black;
}

.container {
    padding: 32px;
}

.error {
    background-color: rgb(255, 166, 166);
    border: 1px solid rgb(255, 96, 96);
    color: rgb(128, 45, 45);
}
.message {
    background-color: rgb(203, 217, 255);
    border: 1px solid rgb(48, 138, 255);
    color: rgb(43, 60, 105);
}

.error > p,
.message > p {
    margin: 12px;
}

input {
    width: 11em;
    border: none;
    background-color: rgb(23, 23, 31);
    color: rgb(192, 199, 226);
    padding: 8px;
}
input:focus,
input:active {
    outline: #800000b3 solid 2px;
    border-radius: 3px;
}

/***********/
/* LANDING */
/***********/

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing {
    display: flex;
    align-items: center;
    width: fit-content;
}
.landing-content {
    margin-left: 20px;
}

.logo {
    height: 100px;
}

.login-section {
    width: fit-content;
    margin-top: 60px;
    text-align: center;
}
.login-section input {
    font-weight: bold;
    font-size: 1.1em;
    width: 11em;
    border: none;
    background-color: rgb(23, 23, 31);
    color: rgb(192, 199, 226);
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.landing-info {
    margin-top: 120px;
    color: rgb(173, 173, 173);
}

/*********/
/* ADMIN */
/*********/
.admin-content {
    display: flex;
    justify-content: space-between;
}

/**********/
/* HEADER */
/**********/

.header-wrapper {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    max-width: var(--content-width);
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}

.header-brand {
    display: flex;
    color: white;
    width: fit-content;
    margin-top: 0.2em;
}
.header-brand:visited {
    color: white;
}
.header-brand:hover {
    text-decoration: underline 2px;
}
.header-brand > img {
    margin-right: 12px;
    width: 60px;
}

.header-links {
    vertical-align: middle;
    display: flex;
}
.header-links > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(94, 111, 145);
    font-weight: bold;
    padding: 0 20px;
}
.header-links > a:hover {
    background-color: #222230;
}

/************/
/* CTF View */
/************/
.ctf-wrapper {
    display: flex;
    justify-content: center;
}
.ctf-container {
    display: flex;
    justify-content: space-between;
    max-width: var(--content-width);
    padding: 1rem;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}

.category-container {
    width: 500px;
    flex: 0 0 200px;
}
.category-container > h3 {
    color: rgb(96, 107, 119);
    font-weight: bold;
}
.category-container ul {
    list-style-type: none;
    padding: 0;
}
.category-container li {
    position: relative;
    margin: 2px 0;
}
.category-container a {
    color: rgb(127, 142, 158);
}
.category-container a:hover {
    text-decoration: underline;
}
.category-container a:hover::before {
    position: absolute;
    content: '>';
    left: -1.5rem;
    color: rgb(124, 99, 99);
    font-weight: bold;
}
.category-container .selected::before {
    position: absolute;
    content: '>';
    left: -1.5rem;
    color: maroon;
    font-weight: bold;
}

.details-container {
    flex: 1 0;
}

.ctf-task {
    margin: 2rem 0;
    padding: 20px;
    background-color: #2e2e42;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.397);
}
.ctf-task:first-child {
    margin: 0;
}
.task-header > h4 {
    margin-top: 0.4rem;
}
.task-header {
    display: flex;
    justify-content: space-between;
}
.task-header > span {
    margin-top: 0.4rem;
    color: rgba(255, 255, 255, 0.452);
}
.flag-submit {
    display: flex;
    margin-top: 1rem;
}
.flag-submit > label {
    padding: 0.8rem;
    border: 2px solid rgba(0, 0, 0, 0.329);
    background-color: rgba(0, 0, 0, 0.096);
    color: rgba(255, 255, 255, 0.658);
    font-weight: bold;
}
.flag-submit > input {
    flex: 1;
}
.flag-submit > button {
    padding: 0.8rem;
    background-color: maroon;
    border: none;
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
}
.flag-submit > button:hover {
    background-color: rgb(153, 36, 36);
    cursor: pointer;
}
