@import url('/static/css/global.css');

/***********/
/* LANDING */
/***********/

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing {
    display: flex;
    align-items: center;
    width: fit-content;
}
.landing-content {
    margin-left: 20px;
}

.logo {
    height: 100px;
}

.login-section {
    width: fit-content;
    margin-top: 60px;
    text-align: center;
}
.login-section input {
    font-weight: bold;
    font-size: 1.1em;
    width: 11em;
    border: none;
    background-color: rgb(23, 23, 31);
    color: rgb(192, 199, 226);
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.landing-info {
    margin-top: 120px;
    color: rgb(173, 173, 173);
}

/**********/
/* HEADER */
/**********/

.header {
    display: flex;
    justify-content: space-between;
}

.header-brand {
    display: flex;
    color: white;
    width: fit-content;
    margin-top: 0.5em;
}
.header-brand:visited {
    color: white;
}
.header-brand:hover {
    text-decoration: underline 2px;
}
.header-brand > img {
    margin-right: 12px;
    width: 60px;
}
.header-brand > h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.header-links {
    vertical-align: middle;
    display: flex;
}
.header-links > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(94, 111, 145);
    font-weight: bold;
    padding: 0 20px;
}
.header-links > a:hover {
    background-color: #222230;
}
.header-links > .divider {
    margin: 13px 5px;
    width: 0;
    border-left: 2px solid rgba(94, 111, 145, 0.438);
}
.header-links > .selected {
    background-color: maroon;
    color: white;
}
.header-links > .selected:hover {
    background-color: maroon;
    color: white;
}

/************/
/* CTF View */
/************/
.ctf-container {
    margin-top: 2rem;
    flex-direction: row;
}
.info-card {
    margin-top: 0;
}
.info-card > h2 {
    color: rgba(255, 255, 255, 0.781);
}
.info-card > p {
    color: rgba(255, 255, 255, 0.842);
}

/* CATEGORIES */

.category-wrapper {
    flex: 0 0 200px;
}

.category-container {
    width: 200px;
    margin-right: 30px;
    padding: 5px 0 5px;
    border-radius: 1rem;
    background-color: var(--secondary-background-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.397);
}
.category-container > h3 {
    margin-top: 1.3em;
    color: rgba(255, 255, 255, 0.781);
    font-weight: bold;
    padding: 0 15px;
}
.category-container ul {
    margin-top: 0;
    list-style-type: none;
    padding: 15px 0;
    padding-top: 0;
    margin-bottom: 0;
}
.category-container li {
    position: relative;
}
.category-container a {
    display: block;
    color: rgb(210, 219, 228);
    padding: 0.7rem 15px;
}
.category-container a:hover {
    background-color: #222230;
}
.category-container .selected a {
    background-color: maroon;
    color: rgb(233, 241, 250);
}

/* TASKS */

.details-container {
    flex: 1 0;
}

.ctf-task a {
    padding: 0.15rem 0.25rem;
    background-color: white;
    text-decoration: underline;
    font-weight: 700;
}

.ctf-task:first-child {
    margin: 0;
}
.task-header > h4 {
    margin-top: 0.4rem;
}
.task-header {
    display: flex;
    justify-content: space-between;
}
.task-header > span {
    margin-top: 0.4rem;
    color: rgba(255, 255, 255, 0.452);
}
.task-header > .solved {
    margin-top: 0.4rem;
    color: rgb(66, 192, 98);
}
.flag-submit {
    display: flex;
    margin-top: 1rem;
}
.flag-submit > label {
    padding: 0.8rem;
    border: 2px solid rgba(0, 0, 0, 0.329);
    background-color: rgba(0, 0, 0, 0.096);
    color: rgba(255, 255, 255, 0.658);
    font-weight: bold;
}
.flag-submit > input {
    flex: 1;
}
.flag-submit > button {
    padding: 0.8rem;
    background-color: maroon;
    border: none;
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
}
.flag-submit > button:hover {
    background-color: rgb(153, 36, 36);
    cursor: pointer;
}

/**********/
/* POINTS */
/**********/

.points-container {
    margin-top: 2rem;
}
.points-container > * {
    margin: 1rem 0;
}
.points-container > hr {
    border: 1px solid rgba(0, 0, 0, 0.199);
    margin-top: 0;
}
.points-stats {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

/***************/
/* LEADERBOARD */
/***************/

.leaderboard-card {
    padding: 20px 0;
}
.leaderboard-card > h2 {
    padding: 0 20px;
}
.leaderboard-table {
    width: 100%;
    padding: 0 20px;
    border: none;
    font-size: 1.2rem;
}
.leaderboard-table th,
td {
    border: none;
}
.leaderboard-table th:nth-child(1) {
    width: 5%;
}
.leaderboard-table th:nth-child(2) {
    text-align: left;
}
.leaderboard-table th:nth-child(3),
th:nth-child(4) {
    width: 7%;
}
.leaderboard-table td:nth-child(1),
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}

.leaderboard-table th {
    background-color: rgba(0, 0, 0, 0.144);
}
.leaderboard-table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.144);
}
